body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50px;
    left: 40%;
}
form{
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px; 
    width: 50%;
}
input[type="text"]{
    width: 85%;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
    padding: 10px;
}
button{
    padding: 8px;
    outline: none;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-color: red yellow green blue;
    background: white;
    transition: 0.8s;
}
button:hover{
    border-width: 3px;
}

.result-display-area{
    position: absolute;
    top: 220px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    width: 58%;
    padding: 20px;
    display: none;
    background: white;
}
.result-display-area img{
    width: 40%;
    height: 200px;
}